p
	| سلام، به اولین پست بلاگ من خوش اومدید. خیلی وقت بود که فکر اینجا تو سرم بود و بالاخره تونستم بعد یه مدت طولانای که سرم خلوت شد، اینجا رو راه بندازم !
	br
	| اسم وبلاگم رو میخوام بزارم، داستان هایی از زندگیم (Stories of my life) !
picture
	img(srcset="img/story.jpg" height="500" class="keep-calm")

p
	| و خب چون عنوان شد "داستان هایی" سعی میکنم در اینجا حرفی از برنامه نویسی و غیره (...) نزنم، و بیشتر راجب خودم و چیزهایی که اطرافم اتفاق میوفته بنویسم ..!